:root {
	--bg-color: #F0F0F0;
	--txt-color: #101010;
}

* {
	overscroll-behavior: none;
}

html, body {
	margin: 0;
	background-color: var(--bg-color);
	min-height: 100%;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	color: var(--txt-color);
}

.matrix, .row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-parenthesis {
	margin-left: -0.45ch;
	margin-right: -0.15ch;
}

.right-parenthesis {
	margin-left: -0.15ch;
	margin-right: -0.45ch;
}

table {
	margin: 0 -0.5ch;
	border-spacing: 1ch 0;
}

td {
	padding: 0;
}

.row {
	flex-flow: row wrap;
	overflow: hidden;
}

.operator {
	font-size: 2em;
	margin: 0 0.5ch;
}
